<!DOCTYPE html>
<html lang="en"  class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randomizer Hub</title>

    <!--Django function that reload the static files-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'python.css' %}">
  

    <!--Links that support various files used-->
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://kit.fontawesome.com/caeb9ec53e.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'media/logo.png' %}" type="image/x-icon"/>


</head>
<body>
    
  <!-- Navigation Menu start here-->
  <nav>
    <ul class="list-none flex items-center space-x-5 pr-36 text-lg text-white bg-gray-600 h-20">
        <li class="flex-1 rounded-full hover:cursor-pointer pl-20">
        <a href="https://github.com/kukuabassanimeri" rel="noopener" target="_blank" class="animate-pulse">RANDOMIZER HUB</a></li>
        <li class="animate-pulse"><a href="#HOME">Home</a></li>
        <li class="animate-pulse"><a href="#ABOUT">About</a></li>
        <li class="animate-pulse"><a href="#work">RandomApis</a></li>
        <!--<li><a href="#HOME">Skills</a></li>-->
        <li class="animate-pulse"><a href="#Contact">Contact</a></li>
    </ul>
</nav>

<!--Navigation menu ends here-->



<div class="grid grid-cols-2 gap-x-64 pt-10 pb-28" id="HOME">
    <!--Welcome message starts here-->
    <section class="pl-20">
        <p class="text-xl text-orange-600">Random API Generator</p>
        <p class="pt-10 text-gray-600 text-2xl">Welcome to the World of Random Wonders!</p>
        <p class="text-gray-600 pt-3 text-lg">Get ready to embark on an exciting journey filled with curiosity and discovery. <br>So, sit back, relax, and let the randomness unfold. Prepare to be amazed as you explore the endless possibilities that await. Start your adventure now and let the magic begin!</p>
        
    </section>
    <!--Welcome message ends here-->

    <!--Image section-->
    <section>
        <i class="fa-regular fa-hand pl-20 text-yellow-400 text-9xl animate-bounce "></i>
    </section>
</div>

<!--about start here-->
<div class="grid grid-cols-2 gap-x-5 pl-20 pr-20 pt-10 text-white pb-28 bg-gray-600 h-94">
    <!--logo message starts here-->
    <section>
        <img src="{% static 'media/hub.jpg' %}" alt="about randomizer hub" width="400" class="rounded-full hover:cursor-pointer animate-spin" height="50">
    </section>
    <!--Logo Message Ends Here-->

    <section id="ABOUT">
        <p class="text-lg pt-10 pr-48">Randomizer Hub is a programming application interface built using Django, HTML, and CSS that generates random facts, random students' names, random bored stories, and random dog images.</p>
        <br>
        <p>It is here to delight and surprise you with fascinating facts, intriguing student profiles, inspiring boredoms, and stunning dog images. Whether you are seeking knowledge, entertainment or a moment of inspiration, Randomizer Hub platform has something for you.</p>
    </section>
</div>
<!--about ends here-->

  <!--Random apis start here-->
  <div id="work">
    <h1 class="pl-20 font-bold pt-10 text-lg bg-white">I invite you to check out random apis that can break your boredom<br>
    </h1>
</div>


<div class="grid grid-cols-2 gap-32 pt-5 pl-20 bg-white-600">
    <div>
        <p class="font-bold">Random Facts</p>
        <p class="font-semibold">Did you know that</p>
        <p>{{fact}}</p>
    </div>

    <div>
        <p class="font-bold">Random Students' Names</p>
        <p class="font-semibold">The student's name is:</p>
        {% if name %}
        <p>Name: {{ name }}</p>
        {% endif %}
        
       
    </div>
    
    <div>
        <p class="font-bold">Random Bored</p>
        <p class="font-semibold">Are you bored? if so.</p>
        <p>{{act}}</p>
        
    </div>
   
    <div>
        <p class="font-bold">Random dog Images</p>
        <p class="font-semibold">Do you know this dog breed?</p>
        <img src="{{event}}" alt="dog breed" width="220px" height="30px" class="animate-pulse">
      

    </div>
   
</div>

<!--Random apis end here-->


<!--footer section start-->

<section class="pl-20 text-white pt-5 text-lg bg-gray-600 h-94 pb-5 mt-4" id="Contact">
   

     <!--To top starts-->
<div>

    <!--Reload starts here-->
    <div>
        <button onclick="window.location.reload();">Reload page</button>
    </div>
    <!--Reload ends here-->

    <!--Go to Top Starts Here-->
    <div class="text-right text-3xl pr-3 text-white">
        <a href="#"><i class="fa-solid fa-arrow-up"></i>
    </div>
    <!--Go to Top Ends Here-->
</div>

<div class="text-white flex justify-center items-center gap-x-10 text-xl">
    <p class="text-center text-lg">Tel: +254115207210 <br>Copyright © 2024 All Rights Reserved | <br>This Randomizer Hub is designed
        with <i class="fas fa-heart text-blue-600"></i> by <span>Abass Kuku
            Animeri</span><br><span>Full-stack Enthusiast</span></p>
</div>
</section>

<!--footer section ends-->

</body>
</html>